*+++++BODY+++++*/
html { margin: 0;}
body{  width: 100%; margin: 0px auto; font-family: 'Courgette', cursive; font-size: 1.2em; background-color: rgba(191, 138, 144, 0.66); padding: 0; color: #4d4041; text-align: center;}
p { line-height: 30px; margin-bottom: 10px; font-family: 'Courgette', cursive;} 


/*+++++UTILITY+++++*/
.clear{	clear:both;}

a:link,a:visited {		color: #3b3b3b; text-decoration: none;}
a:active,a:hover,a:focus {		color: #FFF; }
a:active {		bottom: -1px; position:relative; }
a, a:visited, a:hover {		-webkit-transition-duration: .33s; }

em {	font-style:italic;}
strong {	font-weight:bold;}
abbr {		border-bottom: 1px dotted #535353; cursor:help; font-style:italic;}

/*+++++REST+++++*/

h1 { text-align: center; margin: 0 auto 25px auto; color: #fff; background-color: #722f37; height: auto; width: 100%; padding: 0px; font-family: 'Courgette', cursive;}
form { margin: auto 0; text-align: center; }
form #sub { border : solid 0px #ffffff; border-radius : 10px; moz-border-radius : 10px; -webkit-box-shadow : 0px 0px 5px rgba(0,0,0,1.0); -moz-box-shadow : 0px 0px 5px rgba(0,0,0,1.0); box-shadow : 0px 0px 5px rgba(0,0,0,1.0); font-size : 15px; color : #fff; padding : 1px 10px; background-color : #722f37;}

#content { display: inline-block; margin: 0 auto; padding:0; text-align: center;}
input { margin: 10px; }

input[type="button" i] {border : solid 0px #ffffff; border-radius : 5px; moz-border-radius : 10px; font-size : 15px; color : #fff; padding : 3px 12px; background-color : rgba(116, 48, 55, 0.89);}

footer {		font-size: 16px; height:auto;  text-align: center; color: #FFF; padding-top: 10px; font-family: 'Courgette', cursive; background-color: #722f37;  padding-bottom: 5px; bottom:0px; position: relative; width: 100%;}


h4 { margin-top: 100px;}

#sub { border : solid 0px #ffffff; border-radius : 10px; moz-border-radius : 10px; -webkit-box-shadow : 0px 0px 5px rgba(0,0,0,1.0); -moz-box-shadow : 0px 0px 5px rgba(0,0,0,1.0); box-shadow : 0px 0px 5px rgba(0,0,0,1.0); font-size : 15px; color : #fff; padding : 1px 10px; background-color : #722f37; margin-top: 2px;}

.requestWine {margin: 0 auto; text-align: center;}

.intro { margin: 0 auto; width: 70%; height: auto;}

.wine { height: auto; width: 35%; border: solid #567f50 1px; margin: 20px; display: inline-block; padding: 10px; min-height: 115px; border-radius: 5px; } 